
body {
	font-weight: 400;
	line-height: 1.75em;
	margin: 0;
	font-family: "Arbutus Slab";
	font-size: 16px;
   position: relative;
   background-color: #36BDBD;
   color: #fff;
   font-family: Calibre, "Segoe UI", Arial, sans-serif;
}

nav { z-index: 10; }

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
}

#home {
   padding-top:70px;
}

#resume {
   background-color: #36BDBD;
   border-color: #fff;
   border-style:double;
}

a {
   color:#fff;
}

.section {
   padding: 30px 0;
   min-height: 250px;
}

a {
   color:#fff;
}

